@import '../vars.scss';

:host{
  .container {
    height: $header-height;
    background-color: $main-color;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 32px;

    & .internal-container {
      max-width: $breakpoint-desktop;
      width: 100%;
      display: flex;
      align-items: center;
    }

    & .logo {
      width: 225px;
    }
  }
}
